.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .banner {
    width: 100%;
    overflow: hidden;
    height: 300px;
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .contact-form-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
  }
  